<div class="container-fluid">
    <div class="row">
        <div class="col-md-8">
            <span>
                <a href="#!/recipe">Go to Recipes</a> / Recipe Edit
            </span>
        </div>
    </div>
    <div class="row">
        <div class="col-md-offset-2 col-md-6">
            <form name="$ctrl.data.formRecipe"
                ng-submit="$ctrl.data.formRecipe.$valid && $ctrl.createRecipe($ctrl.data.formRecipe)">
                <div class="form-group">
                    <label for="recipeName">Recipe Name</label>
                    <input type="text" class="form-control" id="recipeName" ng-model="$ctrl.data.recipe.name"
                        name="recipeName" ng-disabled="false" placeholder="Enter name for recipe" ng-required="true">
                    <small id="recipeNameHelp" class="form-text text-muted">Required field.</small>
                </div>
                <div class="form-group">
                    <label for="recipeDescription">Description</label>
                    <input type="text" class="form-control" id="recipeDescription"
                        ng-model="$ctrl.data.recipe.description" name="recipeDescription"
                        placeholder="Enter description for recipe">
                </div>

                <span>Ingredients</span>
                <div class="form-array" ng-repeat="ingredient in $ctrl.data.recipe.ingredients">
                    <div class="form-group">
                        <label for="recipeName">Recipe Name</label>
                        <input type="text" class="form-control" id="ingredientName_{{$index}}"
                            ng-model="ingredient.name" name="ingredientsName" ng-disabled="false"
                            placeholder="Enter name for ingredient" ng-required="true">
                        <small id="ingredientNameHelp_{{$index}}" class="form-text text-muted">Required
                            field.</small>
                    </div>
                    <div class="form-group">
                        <label for="recipeName">Quantity</label>
                        <input type="number" class="form-control" id="ingredientsQuantity_{{$index}}"
                            ng-model="ingredient.quantity" name="ingredientsQuantity" ng-disabled="false"
                            placeholder="Enter quantity" ng-required="true">
                        <small id="ingredientsQuantityHelp_{{$index}}" class="form-text text-muted">Required
                            field.</small>
                    </div>
                    <div class="form-group">
                        <label for="recipeName">Unit for quantity</label>
                        <select class="form-control" ng-model="ingredient.measument_unit">
                            <option ng-repeat="unit in $ctrl.data.measument_units" value="unit.value">{{unit.name}}</li>
                        </select>
                        <small id="ingredientsQuantityHelp_{{$index}}" class="form-text text-muted">Required
                            field.</small>
                    </div>
                    <div class="form-group">
                        <label for="ingredientDescription">Ingredient Description</label>
                        <input type="text" class="form-control" id="ingredientDescription"
                            ng-model="ingredient.description" name="ingredientDescription"
                            placeholder="Enter description for ingredient">
                    </div>
                    <div class="text-center">
                        <button type="button" class="btn btn-danger" ng-click="$ctrl.removeItem($index)"
                            ng-if="$index > 0">
                            Remove
                            Igredient</button>
                    </div>
                </div>
                <div class="row">
                    <div class="text-center">
                        <button type="button" class="btn btn-primary" ng-click="$ctrl.addItem()"> Add Igredient</button>
                    </div>
                </div>
                <div class="text-right">
                    <button class="btn btn-primary" ng-disabled="$ctrl.data.formRecipe.$invalid">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>